@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Nova Body</h1>
    <p class="lead">Our Sport Programs are excellent for everyone</p>
    <p class ="btn btn-primary makeChoice">@Html.ActionLink("Make a choice", "Index", "MuscleGroup")</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Move Fastes</h2>
        <div class="moveFaster"></div>
    </div>
    <div class="col-md-4">
        <h2>Be Stronger</h2>
        <div class="beStronger"></div>
    </div>
    <div class="col-md-4">
        <h2>Never give up</h2>
        <div class="neverGiveUp"></div>
    </div>
</div>