@model sportSiteMvc.Models.MuscleGroup

@{
    ViewBag.Title = "Create";
}

<h2>New Muscle Group</h2>

<form method="POST" action="/MuscleGroup/Create">
    <div>
        <div>Name:</div>
        <input type="text" id="MuscleGroupName_New" name="MuscleGroupName" />
    </div>
    <div>
        <div>Description:</div>
        <input type="text" id="MuscleGroupDesc" name="MuscleGroupDesc" />
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>

<div>
    @Html.ActionLink("Back to List", "List")
</div>