@model sportSiteMvc.Models.MuscleGroup

@{
    ViewBag.Title = "Details";
}

<h2>@Model.MuscleGroupName</h2>
<div class="content">
    <p>@Model.MuscleGroupDesc</p>
</div>

<p class="edd position">
    @Html.ActionLink("Back to List", "List")
</p>
<p class="edd position">
    @Html.ActionLink("Edit", "Edit/" + Model.MuscleGroupID)
</p>
