@model IEnumerable<sportSiteMvc.Models.Exercise>

@{
    ViewBag.Title = "List";
}

<div>
    <h2>Exercise</h2>
</div>

<div>
    @foreach (var exercise in Model)
    {
        <div><h3>
            @Html.ActionLink(exercise.ExerciseTitle, "Details/" + exercise.ExerciseId, "Exercise")
        </h3></div>
        <div>
            @Html.ActionLink("Edit", "Edit", new { id = exercise.ExerciseId }) |
            @Html.ActionLink("Delete", "Delete", new { id = exercise.ExerciseId })
        </div>
    }
</div>

<div>
    @Html.ActionLink("New Exercise", "Create", "Exercise")
</div>