@model IEnumerable<sportSiteMvc.Models.Exercise>

@{
    ViewBag.Title = "List";
}

<div>
    <h2>Exercise</h2>
</div>

<div>
    @foreach (var exercise in Model)
    {
    <div class="group_container">
        <div class="title">
            <h3>
                @Html.ActionLink(exercise.ExerciseTitle, "Details/" + exercise.ExerciseId, "Exercise")
            </h3>
        </div>
        <p class="options edd">
            @Html.ActionLink("Edit", "Edit", new { id = exercise.ExerciseId }) |
            @Html.ActionLink("Delete", "Delete", new { id = exercise.ExerciseId })
        </p>
        <div class="clear"></div>
    </div>
    }
</div>

<div class="create_new">
    @Html.ActionLink("New Exercise", "Create", "Exercise")
</div>